*~
*.o
*.obj
*.tum
bigbro
nolib-bigbro
__pycache__
*.a
.fac
*.err
*.out
*.test
*.pyc
.vagrant
tmp
*.lock
target
.#.*
*.info
*.gcda
*.gcno
*.exe
win32/helper.h
win32/bigbro32.h
win32/bigbro64.h
*.dll
*.so
*.gcov
coverage*.html
*.html
.sass-cache
web/coverage/
web/style.css
web/style.css.map
*.sparse
sparse.fac
syscalls/linux.h
