*~
syscalls/*.h
*.o
*.obj
*.tum
bigbro
nolib-bigbro
__pycache__
*.a
.fac
*.err
*.out
*.test
*.pyc
.vagrant
tmp
*.lock
target
.#.*
web
*.info
*.gcda
*.gcno
*.exe
win32/helper.h
win32/bigbro32.h
win32/bigbro64.h
*.dll
*.so
